*, *:before, *:after {
	 box-sizing: border-box;
}
  html, body {
	 font-family: sans-serif;
	 /* font-size: 62%;
	 line-height: 1.6%;
	 font-weight: 400; */
	 color: #dc4666;
	 background: #141414;
} 
 a {
	 text-decoration: none !important;
	 color: #dc4666 !important;
}
 h1, h2, h3, h4, h5, h6 {
	 font-family: sans-serif;
	 margin: 0;
	 font-weight: 500;
}
  p {
	 font-family: sans-serif;
	 font-size: 62%;
	 color: #abb7c4;
	 font-weight: 300;
	 text-transform: none;
} 
 ::-moz-selection {
	 text-shadow: none;
	 background: #b3d4fc;
}
 ::selection {
	 text-shadow: none;
	 background: #b3d4fc;
}
 hr {
	 display: block;
	 height: 1px;
	 padding: 0;
	 margin: 1em 0;
	 border: 0;
	 border-top: 1px solid #ccc;
}
 /* audio, canvas, iframe, img, svg, video {
	 vertical-align: middle;
} */
 fieldset {
	 padding: 0;
	 margin: 0;
	 border: 0;
}
 textarea {
	 resize: vertical;
}
  img {
	 display: inline-block;
	 max-width: 100%;
	 height: auto;
	 vertical-align: middle;
	 -ms-interpolation-mode: bicubic;
} 
 table {
	 width: 100%;
	 border-collapse: collapse;
}
 table th, table td {
	 padding: 0.5rem 0;
	 text-align: left;
}
 